/* Classes */
.submissionColor{
    width:160px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.submissionText{
    text-align: center;
    margin:auto;

}

.text{
    font-family: 'Quicksand', sans-serif;
}

/* Elements */
h1{
    font-size: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-size: 24px;
    font-weight: 500;
    max-width:825px;
    margin:auto;
    padding-bottom:20px;
}

body{
    text-align: center;
}

select{
    size: 50%;
}

    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

    /* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
    padding:5px 10px;
    text-decoration: none;
    border: none;
    margin:0;
    box-shadow: 1px 1px rgb(223, 223, 223);

}

button:active {
    box-shadow: 0px 0px rgb(223, 223, 223);
    transform: translateX(1px) translateY(1px);
}

.colorRow{
    background-color: white;
    padding:7px 20px;
    width: max-content;
    border-radius: 20px;
    margin:auto;
    margin-bottom:10px;
    margin-top:2px;
}

#submitButton, #newGameButton{
    padding:7px 20px;
    border-radius: 20px;
}

input{
    border:none;
}

/* IDs */
#previousAnswers{
    margin:auto;
    margin-top:20px;
    width:max-content;
}